@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto";
}

body, html {
    width: 100%;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    overflow: hidden; 
}

.search-content {
    background: #7159c1;
    display: flex;
    align-items: center;
    height: 130px;
    box-shadow: 1px 1px 5px -2px;
}

.buttons-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 
.cards-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap column;
    height: 530px;
    width: 100%;
}

.carousel-item {
    height: 370px !important;
    width: 300px !important;
}

.carousel {
    height: 500px !important;
}

.modal-content {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    overflow: hidden;
}

.modal {
    background: #7159c1;
    border-radius: 10px;
    width: 1300px;
}

.poster {
    border-radius: 10px;
    height: 600px;
    width: 350px;
}

.table-content {
    width: 800px;
}

.arrow-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 10vh;
}

.pagination-content a {
    color: #7159c1;
    text-decoration: none;
    padding: 10px 20px 10px;
    margin: 0 4px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.pagination-content a.current {
    color: white;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #7159c1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .modal {
        width: 100%;
    }
    .modal-content {
        display: flex;
        flex-flow: wrap row;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .modal {
        width: 100%;
    }
    .modal-content {
        display: flex;
        flex-flow: wrap row;
    }
    .app {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .pagination-content a {
        margin: 5px;
        padding: 3px 4px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .modal {
        width: 100%;
    }
    .modal-content {
        display: flex;
        flex-flow: wrap row;
    }
    .app {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .pagination-content a {
        margin: 5px;
        padding: 3px 4px;
    }
    
    .search-content { 
        height: 160px; 
    }
}

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .modal {
        width: 100%;
    }
    .modal-content {
        display: flex;
        flex-flow: wrap row;
    }
    .app {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .pagination-content a {
        margin: 5px;
        padding: 3px 4px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .modal {
        width: 100%;
    }
    .modal-content {
        display: flex;
        flex-flow: wrap row;
    }
    .app {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .pagination-content a {
        margin: 5px;
        padding: 3px 4px;
    }
}

::-webkit-scrollbar {
    background-color: black
}

::-webkit-scrollbar-button {
    background-color: #7159c1;
}

::-webkit-scrollbar-track {
    background-color: #7159c1;
}

::-webkit-scrollbar-track-piece {
    background-color: #7159c1;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(193, 164, 248);
}

::-webkit-scrollbar-corner {
    background-color: #F4F4F4;
}

::-webkit-resizer {
    background-color: #F4F4F4;
}